.card{
  width:260px;
  background:white;
  border-radius:18px;
  padding:1rem;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.12);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-8px);
  box-shadow:0 16px 30px rgba(0,0,0,0.18);
}

.image{
  width:100%;
  height:170px;
  object-fit:cover;
  border-radius:12px;
}

.card h3{
  font-size:1.2rem;
  margin:1rem 0 .5rem;
  color:#111;
}

.price{
  font-size:1rem;
  margin-bottom:.7rem;
}

.oldPrice{
  text-decoration:line-through;
  color:#555;
  margin-right:.4rem;
}

.newPrice{
  color:green;
  font-weight:700;
}

.desc{
  font-size:0.95rem;
  color:#333;
  line-height:1.5;
}